@import 'bootstrap.css';

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.department {
  margin-top: 10px;
}

.department button {
  margin-left: 5px;
}

.employee {
  margin-top: 10px;
}

.employee button {
  margin-left: 5px;
}

.unmarked-list {
 list-style: none;
}
